PORT=5001
MONGO_URI=mongodb+srv://user:password@cluster0.xxxxx.mongodb.net/autoresume
NEXTAUTH_SECRET=your-nextauth-secret-here
FRONTEND_URL=http://localhost:3000
GEMINI_API_KEY=your-gemini-api-key-here

# AWS S3
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
S3_BUCKET=autoresume-files
